
<form action="/job_posts" method="post"><br>
    Title: <input type="text" name="title"> <br>
    <br>
    Minimun Requirements:<br> 
    <textarea name="requirements" rows="2" cols="30">  </textarea><textarea name="requirements" rows="2" cols="30"></textarea><br>
    <textarea name="requirements" rows="2" cols="30">  </textarea><textarea name="requirements" rows="2" cols="30"></textarea><br>
    <textarea name="requirements" rows="2" cols="30">  </textarea><textarea name="requirements" rows="2" cols="30"></textarea><br>
    <br>
    Salary Range: <input type="text" name="salary_range"><br>
    <br>
    <input type="submit" value="Create New Job Post">
    
</form>
