
<form action="/job_posts" method="post">
    Title: <input type="text" name="title">
    Minimun Requirements: <textarea name="requirements"></textarea>
    Salary Range:<input type="text" name="salary_range">
    Recruiter:<input type="text" name="recruiter_id">
    Contact: <input type="text" name="recruiter_email">
    <input type="submit" value="Create New Job Post">
</form>
