<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resources</title>
  
  <style>

  span.a {
    display: inline; /* the default for span */
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px grey;  
    text-decoration: none; 
    background-color: none;
    font-family: "Helvetiva Neue", helvetica, arial;
    color: grey;
  }

  .link{
   text-decoration: none; 
   background-color: none;
   font-family: "Helvetiva Neue", helvetica, arial;
   color: grey;
</style

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Resources</h1>
  <p>See all open Job Posts, Recruiters Profiles and Create your own Job Post!</p> <br>

  <% if logged_in? %>
        <span class="a"><a href="/job_posts">Home</a></span>   <span class="a"><a href="/recruiters">Recruiters</a></span> <span class="a"><a href="/job_posts/new">Create New Job Post</a></span>  <span class="a"><a href="/logout"><strong>Logout </strong></a></span></br>
  
    <%else%>
  
        <h2>Post Your Jobs</h2>
        <span class="a"><a href="/login"><strong>Login </strong></a></span> <span class="a"><a href="/signup"><strong>Sign Up </strong></a></span>  
  
    <%end%>
</div>
  </div>
</div>
        <% flash.keys.each do |type| %>
            <div data-alert class="flash <%= type %> alert-box radius">
                <%= flash[type] %>
            </div>
        <% end %>
    <%= yield %>
    
</body>
</html>
