<!DOCTYPE html>




<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Your Jobs</title>
</head>
<body>
    <h1>Hello from layout</h1>
        <% flash.keys.each do |type| %>
            <div data-alert class="flash <%= type %> alert-box radius">
                <%= flash[type] %>
            </div>
        <% end %>
        <a href="/job_posts">Home</a> <a href="/recruiters">Recruiters</a> <a href="/job_posts/new">Create New Job Post</a> <a href="/logout"><strong>Logout </strong></a></br>
    <%= yield %>
    
</body>
</html>
