<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <h3>Job Posts</h3>  

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
    <h3>Recruiters</h3> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
    <h3>Create New Job Post</h3>      
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>

</body>
</html>

<br>
<br>
<br>
<br>

<div class="container">
  

    <h2>Post Your Jobs</h2>

  <div class="content">

<ul>
      <li>
        <a href="/login"><p><strong>Login </strong></p></a>
      </li>  
      <li>
        <a href="/signup"><p><strong>Sign Up </strong></p></a>
      </li>
  
</ul>


    
