
<!DOCTYPE html>
<html>
<head>
<style>
.center {
  padding: 70px 1;
  border: 2px solid grey;
  text-align: center;
}

.link{
 text-decoration: none; 
 background-color: none;
 font-family: "Helvetiva Neue", helvetica, arial;
 color: grey;

}

.title{ 
  padding-left: 100px;
  padding-bottom: 30px;
  font-family: "Helvetiva Neue", helvetica, arial;
  color: grey;
}

</style>
</head>
<body>


<div class="title">
<h1> Recruiters </h1>
</div>

<div class="center">

<% @recruiters.each do |r| %> </br>
<a href="/recruiters/<%=r.id %>">
<div class="link"> 
  <h3><%= r.name %></h3>
</div> 
</a> 

<% end %>
</div>  