<!DOCTYPE html>
<html>
<head>
<style>
.center {
  padding: 70px 1;
  border: 2px solid grey;
  text-align: center;
}

.link{
 text-decoration: none; 
 background-color: none;
 font-family: "Helvetiva Neue", helvetica, arial;
 color: grey;

}

.title{ 

  font-family: "Helvetiva Neue", helvetica, arial;
  color: grey;
}


</style>
</head>
<body>

<div class="center"> <div class="title">
<h1><h1>

<form action="/login" method="post">
    Email: <input type=email name="email" ></br>
    <br>
    Password: <input type=password name="password" > </br>
    <br>
    <input type=submit value="Login" > </br>
</form>
</div>
</div>